@import url('@/theme.css');

.Skeleton {
    background-color: var(--light-200);
    border-radius: 4px;
    animation: loadingAnimation 1.5s infinite ease-in-out;
}

@keyframes loadingAnimation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}