.Container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 640px) {
    .Container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .Container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .Container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .Container {
        max-width: 1280px;
    }
}

.Devices {
    ul {
        margin: 0;
        list-style-type: none;
        border-radius: 8px;
        background: #FFF;

        gap: 16px;
        display: flex;
        flex-direction: column;

        li {
            border: 1px solid #000;
            border-radius: 4px;

            padding: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            > div {
                gap: 8px;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

button {

    height: 40px;
    padding: 0 8px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;

    :hover {
        opacity: .48;
    }
}