.ExceptionState {
    gap: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;


    border: 1px solid var(--gray-300);
    border-radius: 32px;
    background: var(--light);
    padding: 16px;
}

.Icon {
    min-width: 60px;
    min-height: 60px;

    background: var(--yellow-200);
    color: var(--yellow-100);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
} 