@import url('@/theme.css');

.Root {
    padding: 16px 16px 24px;

    gap: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 1px solid var(--gray-300);
    border-radius: 32px;
    background: var(--light);
}

.Content {
    gap: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Actions {
    gap: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}

.Icon {
    min-width: 60px;
    min-height: 60px;

    background: var(--yellow-200);
    color: var(--yellow-100);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.MacAddress {
    padding: 8px;
    border-radius: 8px;
    background: var(--yellow-300);
    
    font-size: 14px;
    color: var(--dark);
    text-transform: uppercase;
}